@use "modules/forwards" as *;

html {
  scroll-behavior: smooth;
}



// Section-1
.announcement {
  @include setFlexJustify(center, row);
  width: 100%;
  min-height: 600px;

  &__img {
    @include setFlexJustify(center, row);

    background-image: url("../img/site/img/01-ice_cave.jpeg");
    background-size: cover;
    background-position: center;

    @media only screen and (max-width: 640px) {
      margin: 1em 0;
      width: 100%;
      height: 250px;
    }
  }

  &__description {
    @include setFlexJustify(flex-end, row);
  }

  &__content {
    @include setFlexJustify(space-between, column);
    align-items: stretch;
    border: 0.5em solid $highlight-50;
    height: auto;
    width: 90%;
    padding: 2em;

    @media only screen and (max-width: 640px) {
      width: 100%;
    }

    h1 {
      font-size: 36px;
    }
  }

  &__btn {
    @include button($text-color-light);
  }

  &__subtitle {
    @include setFlexJustify(flex-start, row);
    text-transform: uppercase;
  }
}

// Section-2

.contest {
  @include setFlexJustify(center, row);
  width: 100%;
  height: 100%;
  margin-top: 5em;
  margin-bottom: 5em;

  &__container {
    @include setFlexJustify(center, row);
    gap: 2em;

    @media only screen and (max-width: 640px) {
      @include setFlexJustify(center, column-reverse);
    }

    &-header {
      @include setFlexJustify(center, column);
      display: flex;
      flex-direction: column;
      border: 10px solid $highlight-50;
      padding-right: 2em;
      padding-left: 0.5em;
      height: 100%;
      width: 30%;
      justify-content: center;

      @media only screen and (max-width: 920px) {
        width: 40%;
      }

      @media only screen and (max-width: 640px) {
        width: 100%;
      }
    }

    h1 {
      @media only screen and (max-width: 640px) {
        width: 70%;
      }
    }

    &-description {
      @include setFlexJustify(center, column);
      justify-content: space-around;

      p {
        font-size: 16px;
      }
    }

    &-link a {
      @include link();
    }
  }
}

//  Section-3

.iceland {
  @include setFlexJustify(center, row);
  margin-top: 8rem;
  margin-bottom: 8rem;
  position: relative;
  width: 100%;
  min-height: 800px;
  background-image: url("../img/site/img/02-snowy_mountains.jpeg");
  background-size: cover;
  background-position: center;
  

  &__container {
    @include setFlexJustify(center, row);

    &--blog {
      @include setFlexJustify(center, column);
      justify-content: space-around;
      position: absolute;
      top: -10%;
      right: 10%;
      width: 40%;
      height: 60%;
      background-color: $main-background;
      padding: 4em 2em;
      box-shadow: 30px -30px 0px -1px $highlight-50;
      

      @media only screen and (max-width: 640px) {
        width: 80%;
        height: 60%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &--link a {
      @include link();
      z-index: 1;
    }
  }


  hr {
    border: 1px solid $highlight-50;
    width: 4em;
    margin-left: 0;
  }
}


// Section-4

.gallery {
  margin-top: 2em;
  margin-bottom: 4em;

  &__container {
    text-align: center;
  }

  hr {
    border: 1px solid $highlight-50;
    width: 4em;
    margin: auto;
  }

  &__btn {
    border: 2px solid $highlight-50;
    padding: 10px 40px;
    color: text-color-light;
    background-color: black;
    text-align: center;
    font-weight: 600;
    @include button($highlight);
  }

  &__description {
    h1 {
      margin: 1em;
    }

    p {
      margin: 1em;
      font-size: 20px;
      padding: 0 2em;
    }
  }
}

.gallery-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $main-background;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  width: 94%;
  margin: 0 auto;
  padding: 10px;
  min-height: 800px;
  row-gap: 1em;  
}

.gallery-item {
  flex-basis: 32.7%;
  opacity: 0.85;
  cursor: pointer;
  height: 500px;
  width: 100%;
}
.gallery-item:hover {
  opacity: 1;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-content {
  font-size: 0.8em;
}

.lightbox {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
}
.lightbox-content {
  position: relative;
  width: 70%;
  height: 85%;

  margin: 5% auto;
  margin-top: 100px;
}
.lightbox-content img {
  border-radius: 3px;
  border: 6px solid $highlight-50;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.lightbox-prev,
.lightbox-next {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 9px;
  top: 50%;
  cursor: pointer;
}
.lightbox-prev {
  left: 0;
}
.lightbox-next {
  right: 0;
}
.lightbox-prev:hover,
.lightbox-next:hover {
  opacity: 0.8;
}

@media (max-width: 640px) {
  .gallery-item {
    flex-basis: 100%;
    margin-bottom: 1px;
  }
  .lightbox-content {
    width: 90%;
    margin: 20% auto;
  }
}

// Section-5

.sunrise {
  @include setFlexJustify(center, row);
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin-top: 5em;
  margin-bottom: 5em;

  &__container--right {
    @include setFlexJustify(center, row);
  }

  &__container--left {
    @include setFlexJustify(center, column);

    @media only screen and (max-width: 640px) {
      margin-top: 10rem;
      height: 300px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .img-air-ballon {
      position: absolute;
      height: 80%;
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-image: url("../img/site/img/03-air_balloon.jpeg");
      background-size: cover;
      background-position: center;

      @media only screen and (max-width: 640px) {
        width: 80%;
        height: 80%;
      }
    }

    @media only screen and (max-width: 640px) {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &--square {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 70%;
    border: 5px solid $highlight-50;

    @media only screen and (max-width: 640px) {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__corner--top {
    @include corner();
    top: 0;
    right: 0;
    border-top: 8px solid $highlight-50;
    border-right: 8px solid $highlight-50;
  }

  &__corner--bottom {
    @include corner();
    bottom: 0;
    left: 0;
    border-bottom: 8px solid $highlight-50;
    border-left: 8px solid $highlight-50;
  }

  &__content {
    @include setFlexJustify(center, column);
    padding: 3em;
    margin: 1em;
    border: 2px solid $highlight-50;
  }

  &--link {
    @include link();
  }
}

// Section-6

.blog {
  @include setFlexJustify(center, row);
  max-width: 1280px;
  width: 100%;
  height: 100%;

  margin-top: 5em;
  margin-bottom: 5em;
  background-color: $secondary-background;

  section {
    @include setFlexJustify(center, row);

    @media only screen and (max-width: 640px) {
      @include setFlexJustify(center, row);
    }
  }

  @media only screen and (max-width: 960px) {
    @include setFlexJustify(center, column);
  }

  @media only screen and (max-width: 640px) {
    @include setFlexJustify(center, column);
  }

  &__post {
    @include setFlexJustify(center, column);
    width: 100%;
    min-height: 450px;

    &--img-1 {
      @include setFlexJustify(center, row);
      background-image: url("../img/content/blog/01-blog.jpeg");
      background-size: cover;
      background-position: center;
      height: 300px;
      width: 100%;
    }
    &--img-2 {
      background-image: url("../img/content/blog/02-blog.jpeg");
      background-size: cover;
      background-position: center;
      height: 300px;
      width: 100%;
    }
    &--img-3 {
      background-image: url("../img/content/blog/03-blog.jpeg");
      background-size: cover;
      background-position: center;
      height: 300px;
      width: 100%;
    }
    &--img-4 {
      background-image: url("../img/content/blog/04-blog.jpeg");
      background-size: cover;
      background-position: center;
      height: 300px;
      width: 100%;
    }
    &--img-5 {
      background-image: url("../img/content/blog/05-blog.jpeg");
      background-size: cover;
      background-position: center;
      height: 300px;
      width: 100%;
    }
    &--img-6 {
      background-image: url("../img/content/blog/06-blog.jpeg");
      background-size: cover;
      background-position: center;
      height: 300px;
      width: 100%;
    }

    &__title {
      @include setFlexJustify(center, row);
      align-items: center;
    }
  }

  div h4 {
    padding: 1em 0.5em;
    font-style: italic;
  }
}

  // Section-7
.diving {
  @include setFlexJustify(center, row);
  width: 100%;
  height: 100%;
  margin-top: 5em;
  margin-bottom: 5em;

  &__title {
    @include setFlexJustify(center, row);
    border: 5px solid $highlight-50;
  }

  &__img {
    position: relative;
    background-color: $main-background;

    @media only screen and (max-width: 640px) {
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    @include setFlexJustify(flex-start, column);
    width: 70%;
    padding: 3em;

    @media only screen and (max-width: 960px) {
      width: 100%;
      padding: 2em;
    }

    @media only screen and (max-width: 640px) {
      width: 100%;
      padding: 2em;
    }
  }

  &--link {
    @include link();
  }
  &__pic {
    position: absolute;
    top: -20%;
    right: 0;
    height: 100%;
    width: 140%;
    background-image: url("../img/site/img/04-diver.jpeg");
    background-size: cover;
    background-position: center;

    @media only screen and (max-width: 960px) {
      @include setFlexJustify(center, row);
      position: relative;
      top: 0;
      margin-top: 2em;
      height: 400px;
      width: 100%;
    }

    @media only screen and (max-width: 640px) {
      @include setFlexJustify(center, row);
      position: relative;
      top: 0;
      margin-top: 1em;
      height: 300px;
      width: 100%;
    }
  }

  &__square {
    position: absolute;
    right: 10%;
    top: -10%;
    background-color: $main-background;
    height: 100%;
    width: 140%;
    border: 10px solid $highlight-50;

    @media only screen and (max-width: 960px) {
      display: none;
    }

    @media only screen and (max-width: 640px) {
      display: none;
    }
  }

  &__corner--bottom {
    @include corner();
    bottom: 0;
    right: 0;
    border-bottom: 8px solid $highlight-50;
    border-right: 8px solid $highlight-50;

    @media only screen and (max-width: 960px) {
      display: none;
    }

    @media only screen and (max-width: 640px) {
      display: none;
    }
  }

  &__subtitle {
    @include setFlexJustify(flex-start, row);
    text-transform: uppercase;
  }
}

// Section-8

.subscripton {
  @include setFlexJustify(center, row);
  width: 100%;
  padding: 2em;

  @media only screen and (max-width: 960px) {
    width: 80%;
  }

  @media only screen and (max-width: 640px) {
    width: 80%;
  }

  form{
    @include setFlexJustify(center, row);
  @media only screen and (max-width: 640px) {
    @include setFlexJustify(center, column);
  }
  }

  &__msg {
    @include setFlexJustify(center, column);
    align-items: center;
    border: 2px solid $highlight-50;
    padding: 2em;
  }

  &__text {
    @include setFlexJustify(center, row);
    @include title($text-color-light, 28px);
    padding: 2em;
  }

  &__email {
    @include setFlexJustify(center, row);
    align-items: center;
    margin: 3em 0;

    &--input {
      margin: 1em;
      margin-left: 0;
      padding: 1em;
      width: 100%;
      min-width: 250px;
    }

    &--btn {
      @include button($highlight);
    }
  }
}


//thanks page
.thanks {
  height: 50vh;

  &--btn{
    @include link();
  }
}

// admin page

.admin {
  @include setFlexJustify(flex-start, column);
  width: 100%;
  min-height: 30vh;


  table{
  padding: 2em;
  margin: 3rem;
  color: $text-color-light;
  border: 2px solid $highlight-50;
  text-align: center ;

  @media only screen and (max-width: 640px) {
    padding: 0.2em;
    margin: 0.1em;
  }

  }

  tr{

    th{
      padding: 2em;
      margin: 1em;
      background-color: $main-background;
      color: $text-color-light;

      @media only screen and (max-width: 640px) {
        padding: 0.2em;
        margin: 0.1em;
      }
    }

    td{
      padding: 0.5em;
      background-color: $main-background;
      color: $text-color-light;
      border-bottom: 0.5px solid $text-color-light;

      @media only screen and (max-width: 640px) {
        padding: 0.1em;
        
      }
    
      .delete{
        background-color: red;
        color: white;
        padding: 0.5em 1em;

        &:hover{
          background-color: rgb(104, 11, 11);
         
        }
   
      }

    }

  }

}

.alert{
  color: red
}