@use "mixin" as *;
@use "colors" as *;

//Font-style import
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;

  background-color: $main-background;
}



//Normal text & link

p {
  @include text($text-color-light);
}

a {
  @include text($text-color-light);
  text-transform: uppercase;
  text-decoration: underline 1.5px $highlight;
  text-underline-offset: 5px;

  &:hover {
    color: $highlight;
  }
}

// H1-H6
h1 {
  @include title($text-color-light, 46px);
}

h2 {
  @include title($text-color-light, 34px);
}

h3 {
  @include title($text-color-light, 28px);
}

h4 {
  @include title($text-color-light, 24px);
}

h5 {
  @include title($text-color-light, 20px);
}

h6 {
  @include title($text-color-light, 14px);
}
